@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');



@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dm-mono {
    font-family: 'DM Mono', monospace; /* Custom class for DM Mono */
  }
}


.quill-content ul, .quill-content ol {
  list-style-position: inside;
  padding-left: 1.5em;
}

.quill-content ul {
  list-style-type: disc;
}
.quill-content h1 {
  font-size: 2em;
}
.quill-content h2 {
  font-size: 1.75em;
}
.quill-content h3 {
  font-size: 1.25em;
}


.quill-content ol {
  list-style-type: decimal;
}

.quill-content li {
  margin-bottom: 0.5em;
}

.quill-content p {
  margin-bottom: 1em;
}

.quill-content strong {
  font-weight: bold;
}

.quill-content em {
  font-style: italic;
}

.quill-content u {
  text-decoration: underline;
}




.fc {
  height: calc(100vh - 200px) !important;
}

.fc-timegrid-slot {
  height: 55px !important;
  border: 1px solid #e2e8f0 !important;
}

.fc-timegrid-slot-lane {
  border: 1px solid #e2e8f0 !important;
  background-color: #ffffff;
}

.fc-timegrid-col {
  border: 2px solid #e2e8f0 !important;
}

.fc-timegrid-col-frame {
  background-color: #ffffff;
}

.fc-timegrid-event-harness {
  margin: auto !important; 
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important; 
}

.fc-event {
  border: 1px solid #244e8a !important;
  background-color: #244e8a !important;
  width: 55px !important;
  height: 55px !important;
  color: #2b6cb0 !important;
  padding: 2px 4px !important;
}

.fc-event-main {
  padding: 0 !important;
}

.fc-event-title {
  padding: 0 !important;
}

.fc-col-header-cell {
  background-color: #f7fafc !important;
  border: 1px solid #e2e8f0 !important;
  padding: 8px !important;
}

.fc-toolbar-title {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

.fc-button-active {
  background-color: #6F7D42 !important;
  border-color: #6F7D42 !important;
}

.fc .fc-toolbar {
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 640px) {
  .fc .fc-toolbar {
    flex-direction: column;
    align-items: stretch;
  }
}