@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');



@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dm-mono {
    font-family: 'DM Mono', monospace; /* Custom class for DM Mono */
  }
}


.quill-content ul, .quill-content ol {
  list-style-position: inside;
  padding-left: 1.5em;
}

.quill-content ul {
  list-style-type: disc;
}
.quill-content h1 {
  font-size: 2em;
}
.quill-content h2 {
  font-size: 1.75em;
}
.quill-content h3 {
  font-size: 1.25em;
}


.quill-content ol {
  list-style-type: decimal;
}

.quill-content li {
  margin-bottom: 0.5em;
}

.quill-content p {
  margin-bottom: 1em;
}

.quill-content strong {
  font-weight: bold;
}

.quill-content em {
  font-style: italic;
}

.quill-content u {
  text-decoration: underline;
}

.loading-message {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-select {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  font-weight: bold;
}

.calendar-contain .fc {
  height: calc(100vh - 200px) !important;
}

.calendar-contain .fc-timegrid-slot {
  height: 55px !important;
  border: 1px solid #e2e8f0 !important;
}

/* .calendar-contain .fc-timegrid-slot-lane,
.calendar-contain .fc-timegrid-col {
  border: 2px solid #e2e8f0 !important;
  background-color: #ffffff;
} */

.calendar-contain .fc-timegrid-event-harness {
  display: flex;
  justify-content: flex-start;
}

.calendar-contain .fc-event {
  border: 1px solid #244e8a;
  background-color: #244e8a;
  width: 55px;
  height: 55px;
  color: #2b6cb0;
}

.calendar-contain .fc-col-header-cell {
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  padding: 8px;
}

.calendar-contain .fc-toolbar-title {
  font-size: 2rem;
  font-weight: 600;
}

.calendar-contain .fc-button-active {
  background-color: #6f7d42;
  border-color: #6f7d42;
}

@media (max-width: 640px) {
  .calendar-contain .fc .fc-toolbar {
    flex-direction: column;
    align-items: stretch;
  }
}

@media print {

}